{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Blog PHP</title>
{% endblock %}

{% block content %}
    <main class="min-vh-100 main_home">
        <div class="w-100 vh-75-l vh-50 ">
            <div class="center"
                style="background:url(./img/banner.jpg) no-repeat center; width: 100%; height: 100%; background-size: cover;">
                <div class="flex tr justify-center content-center flex-column h-100 pr3-l pr1-m pr0  ">
                    <h1 class="i white baskerville quote-banner f3-l f4-m f6">" Stop maintenant, il faut que ça CSS ! "
                    </h1>
                </div>
            </div>
        </div>

        <section class="pa4">
            <h1 class="tc ttu nes">Derniers articles</h1>
            <div class="flex-l w-100 tc justify-center">
                <article class="fl w-100 pb3 bg-white  measure-narrow-l ba b--black-10 mv4 mh4-l ">
                    <div class="pv2 ph3">
                        <h1 class="f6 ttu tracked">Daily News Co.</h1>
                    </div>
                    <img src="http://tachyons.io/img/cat-720.jpg" class="w-100 db"
                        alt="Closeup photo of a tabby cat yawning.">
                    <div class="pa3">
                        <a href="post.html" class="link dim lh-title black b ">Title : 15 things every cat owner should
                            know</a>
                        <p class="pv2 f6 lh-copy measure">Chapo : Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Cum consequatur sint autem? Enim, quaerat perferendis!</p>
                        <small class="blue db pv2">Mis à jour le ## - ## - ### à 12h05</small>
                    </div>
                </article>
                <article class="fl w-100  bg-white measure-narrow-l ba b--black-10 mv4 mh4-l ">
                    <div class="pv2 ph3">
                        <h1 class="f6 ttu tracked">Daily News Co.</h1>
                    </div>
                    <img src="http://tachyons.io/img/cat-720.jpg" class="w-100 db"
                        alt="Closeup photo of a tabby cat yawning.">
                    <div class="pa3">
                        <a href="#" class="link dim lh-title black b ">Title : 15 things every cat owner should know</a>
                        <p class="pv2 f6 lh-copy measure">Chapo : Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Cum consequatur sint autem? Enim, quaerat perferendis!</p>
                        <small class="blue db pv2">Mis à jour le ## - ## - ### à 12h05</small>
                    </div>
                </article>
                <article class="fl w-100  pb3 bg-white  measure-narrow-l  ba b--black-10 mv4 mh4-l ">
                    <div class="pv2 ph3">
                        <h1 class="f6 ttu tracked">Daily News Co.</h1>
                    </div>
                    <img src="http://tachyons.io/img/cat-720.jpg" class="w-100 db"
                        alt="Closeup photo of a tabby cat yawning.">
                    <div class="pa3">
                        <a href="#" class="link dim lh-title black b ">Title : 15 things every cat owner should know</a>
                        <p class="pv2 f6 lh-copy measure">Chapo : Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Cum consequatur sint autem? Enim, quaerat perferendis!</p>
                        <small class="blue db pv2">Mis à jour le ## - ## - ### à 12h05</small>
                    </div>
                </article>
            </div>
            <div class="tc">
                <a class="f5 no-underline black bg-animate hover-bg-black hover-white grow-large inline-flex items-center pa3 ba border-box nes"
                    href="posts.html">Tous les
                    articles</a>
            </div>
        </section>     
    </main>
    
{% endblock %}