<!DOCTYPE html>
<html lang="fr" class="bg-light-gray athelas h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="icon" type="image/png" href="/img/logo_everywhere_resize.png"/>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    {% block title %} {% endblock %}
</head>

<body class='relative min-vh-100'>
    <header>
        {% include 'layouts/navbar.twig' %}
    </header>

    {% block content %} {% endblock %}

    {% include 'layouts/footer.twig' %}
</body>

<script src="https://kit.fontawesome.com/90abeceae2.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</html>