<!DOCTYPE html>
<html lang="fr" class="bg-light-gray athelas h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    {% block title %} {% endblock %}
</head>

<body class='relative min-vh-100'>
    <header>
        {% include 'layouts/navbar.twig' %}
    </header>

    {% block content %} {% endblock %}

</body>

</html>