<!DOCTYPE html>
<html lang="fr" class="bg-light-gray athelas h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="icon" type="image/png" href="./img/logo_everywhere_resize.png"/>
    <link rel="stylesheet" href="../css/styles.css">
    {% block title %} {% endblock %}
</head>

<body class='relative min-vh-100'>
    <header>
        {% include 'layouts/navbar.twig' %}
    </header>

    {% block content %} {% endblock %}

    {% include 'layouts/footer.twig' %}
</body>

<script src="https://kit.fontawesome.com/90abeceae2.js" crossorigin="anonymous"></script>

</html>