<nav class="db dt-l w-100 border-box pa2 pl4-l hover-bg-white">
    <div class="db dtc-l  v-mid tc tl-l ">
        <a class="di-l db v-mid mid-gray link dim  w-10-l  tl-l mt2 mb0-l pr3-l" href="/" title="Home">
            <img src="/img/logo_everywhere_resize.png" class=" w3 h3 br-100" alt="Site Name">
        </a>
        <h1 class="inline-flex animated_title ma4 ml5 ma0-l">BAËTÉ Romain</h1>
    </div>
    <div class="db dtc-l v-mid tc tr-l">
        <a class="nes no-underline black bg-animate hover-bg-black hover-white  f6 f7-l  dib mr3 mr2-l pa2" href="/"
            title="home">Accueil</a>
        <a class="nes no-underline black bg-animate hover-bg-black hover-white   f6 f7-l  dib mr3 mr2-l pa2"
            href="/articles" title="blog">Articles</a>
        <a class="nes no-underline black bg-animate hover-bg-black hover-white  f6 f7-l  dib mr3 mr2-l pa2"
            href="/contact" title="contact">Contact</a>
        {% if session.get('user') is not empty %}
        <a class="nes no-underline black bg-animate hover-bg-black hover-white  f6 f7-l  dib mr3 mr2-l pa2"
            href="/profil" title="profil">Mon profil</a>
        {% else %}
        <a class="nes no-underline black bg-animate hover-bg-black hover-white  f6 f7-l  dib mr3 mr2-l pa2"
            href="/register" title="register">Inscription</a>
        {% endif %}
        {% if session.get('user') is not empty %}
        <a class="nes no-underline black bg-animate hover-bg-black hover-white  f6 f7-l  dib mr3 mr2-l pa2"
            href="/logout" title="logout">Déconnexion</a>
        {% else %}
        <a class="nes no-underline black bg-animate hover-bg-black hover-white  f6 f7-l  dib pa2" href="/login"
            title="login">Connexion</a>
        {% endif %}
    </div>
</nav>