<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Votre mot de passe a été réinitialisé</h1>
    <br />
        <p>Suite à votre demande de réinitilisation de votre mot de passe, voici votre nouveau mot de passe :</p>
    <br />
        <p><strong>{{ password }}</strong></p>
    <p>
        Vous pouvez vous connecter à votre compte avec ce nouveau mot de passe, pensez à modifier votre mot de passe une fois connecté !
    </p>
    <p>
        <a href="{{url}}/login">Me connecter</a>
    </p>
    </body>
</html>