{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Modification d'un utilisateur</title>
{% endblock %}

{% block content %}

<main class="flex flex-column min-vh-100 pt5 main_admin">
    <h1 class="nes tc pv3">Informations de l'utilisateur</h1>
    <div class="nes dt center ml2-l mt6-l sidenav fixed-l z-1 top-1 left-0 overflow-x-hidden pa3 bg-near-black f6 no-underline  ">
        <a class="db-l pa2 link white hover-blue " href="/admin/users">Utilisateurs</a>
        <hr class="bt-1-l dn-m mv2">
        <a class="db-l pa2 link white hover-blue" href="/admin/posts">Articles</a>
        <hr class="bt-1-l dn-m mv2">
        <a class="db-l pa2 link white hover-blue" href="/admin/categories">Catégories</a>
        <hr class="bt-1-l dn-m mv2">
        <a class="db-l pa2 link white hover-blue" href="/admin/comments">Commentaires</a>
    </div>
    <div class="flex-auto center">
        <form class="measure center" method="get" action="/admin/users/reset" >
        <fieldset id="update" class="ba b--transparent ph0 mh0">
        <div class="mt3">
                <input class="b pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="hidden"
                    name="id" id="id" value="{{ user.id|e }}">
            </div>
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="username">Adresse Email</label>
                <input class="b pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="text"
                    name="email" id="email" value="{{ user.email|e }}">
            </div>
            {% if errors.email %}
                <div class="red pt1 i">{{ errors.email }}</div>
            {% endif %}
        </fieldset>
        <div class="">
            <input
                class="ph3 pv2 input-reset b--black bg-transparent pointer f6 dib no-underline black bg-animate hover-bg-black hover-white nes"
                type="submit" value="Modifier l'adresse email" name"submit">
        </div>
    </form>
    <a href="/admin/users/reset/password?id={{ user.id|e }}" class="ph3 pv2 mt6  b--black bg-transparent pointer f6 dib no-underline red bg-animate hover-bg-black hover-red nes">Réinitialiser le mot de passe</a>
    </div>
</main>

{% endblock %}