{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Profil</title>
{% endblock %}

{% block content %}

<main class="flex flex-column min-vh-100  pt5 ">
    <h1 class="nes tc pv3">Mon profil</h1>
    <div class="flex-auto center">
        <dl class="f4 lh-title mv2">
            <dt class="dib b">Nom d'utilisateur:</dt>
            <dd class="dib ml0 gray">{{ session.get('user').username }}</dd>
        </dl>
        <dl class="f4 lh-title mv2">
            <dt class="dib b">Email:</dt>
            <dd class="dib ml0 gray">{{ session.get('user').email }}</dd>
        </dl>
        <dl class="f4 lh-title mv2">
            <dt class="dib b">Role:</dt>
            <dd class="dib ml0 gray">{% if session.get('user').role == 1 %} Abonné {% endif %}</dd>
        </dl>
        <div class="flex flex-column">
            <a href="/profil/update" class="link i black pv2 ">Modifier mes informations</a>
            <a href="/changePassword?email={{ session.get('user').email }}" class="link i black">Changer mon mot de passe</a>
        </div>
    </div>
</main>

{% endblock %}