<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Modification de vos informations</h1>
<br />
<p>Suite à votre demande de modification de votre adresse email</p>
<br />

<p>
    Pour valider votre nouvelle adresse mail et vous permettre de vous connecter, veuillez cliquer sur le lien
    suivant :
</p>
<p><a href="{{url}}/login?token={{token}}&email={{email}}">Je valide mon adresse mail !</a></p>
</body>
</html>