{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Profil</title>
{% endblock %}

{% block content %}

<main class="flex flex-column min-vh-100  pt5">
    <h1 class="nes tc pv3">Modifier mes informations</h1>
    <div class="flex-auto center">
        <form class="measure center" method="post" action="/profil/update" >
        <fieldset id="update" class="ba b--transparent ph0 mh0">
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="username">Votre nom d'utilisateur</label>
                <input class="b pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="text"
                    name="username" id="username" value="{{session ? session.get('user').username|e : ''}}">
            </div>
            {% if errors.username %}
                <div class="red pt1 i">{{ errors.username }}</div>
            {% endif %}
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="email">Votre email</label>
                <input class="b pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="text"
                    name="email" id="email" value="{{ session ? session.get('user').email|e : ''}}">
            </div>
            {% if errors.email %}
                <div class="red pt1 i">{{ errors.email }}</div>
            {% endif %}
            
        </fieldset>
        <div class="">
            <input
                class="ph3 pv2 input-reset b--black bg-transparent pointer f6 dib no-underline black bg-animate hover-bg-black hover-white nes"
                type="submit" value="Modifier" name"submit">
        </div>
    </form>
    </div>
</main>

{% endblock %}