<div class="nes dt center ml2-l mt6-l sidenav fixed-l z-1 top-1 left-0 overflow-x-hidden pa3 bg-near-black f6 no-underline  ">
    <a class="db-l pa2 link white hover-blue " href="/admin">Accueil</a>
    <hr class="bt-1-l dn-m mv2">
    <a class="db-l pa2 link white hover-blue " href="/admin/users">Utilisateurs</a>
    <hr class="bt-1-l dn-m mv2">
    <a class="db-l pa2 link white hover-blue" href="/admin/posts">Articles</a>
    <hr class="bt-1-l dn-m mv2">
    <a class="db-l pa2 link white hover-blue" href="/admin/categories">Catégories</a>
    <hr class="bt-1-l dn-m mv2">
    <a class="db-l pa2 link white hover-blue" href="/admin/comments">Commentaires</a>
</div>