{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Page introuvable</title>
{% endblock %}

{% block content %}

    <section>
        <div class="tc pa5 lh-copy">
            <h1 class="nes f-headline  mb3 dib  light-red">400</h1>
            <h2 class="nes tc f2-l fw1">Bad Request</h2>
        </div>
    </section>

{% endblock %}