{% extends 'layouts/default.twig' %}

{% block title %}
    <title>Inscription</title>
{% endblock %}

{% block content %}

<main class="pa4 black-80 mt4 min-h-100 main_register">
    <form class="measure center" method="post" action="/forgot_password" >
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0 nes">Mot de passe oublié</legend>
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="email-address">Email</label>
                <input class="pa2 input-reset ba bg-white hover-bg-black hover-white w-100" type="text"
                    name="email" id="email" value="{{ post ? post.email|e : '' }}">
                <small class="f6 black-60 db pv2">Merci de renseigner l'adresse email de votre compte</small>
            </div>
        </fieldset>
        <div class="">
            <input
                class="ph3 pv2 input-reset b--black bg-transparent pointer f6 dib no-underline black bg-animate hover-bg-black hover-white nes"
                type="submit" value="Changer mon mot de passe" name"submit">
        </div>
    </form>
    {% if session.get('forgot') %}
        <div class="mt3 flex items-center justify-center pa4 bg-light-green">
            <span class="i"> {{ session.show('forgot') }}</span>
        </div>
    {% endif %}
    {% if session.get('email_fail') %}
        <div class="mt3 flex items-center justify-center pa4 bg-light-red ">
            <span class="i"> {{ session.show('email_fail') }}</span>
        </div>
    {% endif %}
</main>

   
{% endblock %}