<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Changement de votre mot de passe</h1>
<br />
<p>Pour changer votre mot de passe, merci de suivre le lien suivant :</p>
<br />

<p><a href="{{url}}/changePassword?token={{token}}&email={{email}}">Changer mon mot de passe!</a></p>
</body>
</html>