<div>
    <li class="f5 b lh-title pb2 ">{{ comment.username }}, <small class="black-60 i f6">{{ comment.created_at|date("d/m/Y H:i:s") }}</small></li>
    <li class="f6 pl5 ">{{ comment.content }}</li>
    <a href="#" class="dib mt2 pa2 ml5 no-underline i blue hover-white hover-bg-blue br-pill "><i
            class="ph2 fas fa-reply fa-rotate-180"></i>Répondre</a>
    {# <div class="ml5 mv3  br4 pa3 bg-white">
        <li class=" f5 b lh-title pb2"><i class="fas fa-comment-dots blue"></i> Alan BADIER, <small
                class=" black-60 i f6">le 21/12/2020 à
                14h09</small></li>
        <li class="f6 pl5 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            aspernatur !!
        </li>
        <hr class="bt-0  b--black w-60 mv3 ">
    </div> #}
    <hr class="bt-0  b--light-blue w-60 mv3 ">
</div>